[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupytext = "*"
bokeh = "*"
streamlit = "*"
pandas = "*"
python-dotenv = "*"
Jinja2 = "*"
PyGithub = "*"

[dev-packages]

[requires]
python_version = "3.8"
